<mat-grid-list cols="1" *ngIf="!hero; else divHeroe">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #divHeroe>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">
    <div fxFlex="50">
      <h1>
        {{ hero.superhero }} <small> {{ hero.alterEgo }}</small>
      </h1>
      <mat-divider></mat-divider>
      <br />
      <img [src]="hero | image" [alt]="hero.superhero" />
    </div>

    <div fxFlex="50">
      <h1>{{ hero.publisher }}</h1>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item>{{ hero.firstAppearance }}</mat-list-item>
        <mat-list-item>{{ hero.characters }}</mat-list-item>
        <mat-list-item>{{ hero.publisher }}</mat-list-item>
        <mat-list-item>{{ hero.alterEgo }}</mat-list-item>
      </mat-list>
      <br />
      <button mat-button color="accent" (click)="back()">Regresar</button>
    </div>
  </div>
</ng-template>
