<mat-card>
  <mat-card-header>
    <mat-card-title>{{ hero.superhero }}</mat-card-title>
    <mat-card-subtitle>{{ hero.alterEgo }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="hero | image" [alt]="hero.superhero" />
  <mat-card-content>
    <h3>{{ hero.publisher }}</h3>
    <p>
      <strong>Primera aparición</strong> {{ hero.firstAppearance }}
      <br />
      <strong>Personajes</strong> {{ hero.characters }}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button [routerLink]="['/heroes/', hero.id]">Leer más</button>
    <button mat-button [routerLink]="['/heroes/edit/', hero.id]" color="accent">
      Editar
    </button>
  </mat-card-actions>
</mat-card>
