<h1>¿Está seguro?</h1>
<mat-dialog-content>
  <p>
    Está a punto de borrar a {{ superhero }}
    <br />
    ¿Desea continuar?
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-button (click)="delete()" color="warn">Sí</button>
</mat-dialog-actions>
