<h1>Héroes</h1>
<mat-divider></mat-divider>
<br />

<div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px">
  <div
    fxFlex="20"
    fxFlex.lg="15"
    fxFlex.md="20"
    fxFlex.sm="45"
    fxFlex.xs="100"
    *ngFor="let hero of heroes"
  >
    <app-hero-card [hero]="hero"></app-hero-card>
  </div>
</div>
