<h1>
  {{ hero.id ? 'Editar' : 'Nuevo' }}
  Héroe <small>{{ hero.superhero }}</small>
</h1>

<div
  fxLayout="row"
  fxLayoutGap="40px"
  fxLayout.sm="column"
  fxLayout.xs="column"
>
  <div fxFlex="50" fxLayout="column">
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutGap="20px"
    >
      <mat-form-field fxFlex="100">
        <mat-label>Super Héroe</mat-label>
        <input type="text" matInput [(ngModel)]="hero.superhero" required />
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Alter Ego</mat-label>
        <input type="text" matInput [(ngModel)]="hero.alterEgo" required />
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Primera Aparición</mat-label>
      <input type="text" matInput [(ngModel)]="hero.firstAppearance" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Personajes</mat-label>
      <input type="text" matInput [(ngModel)]="hero.characters" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Creador</mat-label>
      <mat-select [(ngModel)]="hero.publisher" required>
        <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
          {{ publisher.desc }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Foto URL</mat-label>
      <input type="url" matInput [(ngModel)]="hero.altImg" required />
    </mat-form-field>

    <br />

    <div fxLayout fxLayoutGap="10px">
      <button mat-button color="primary" (click)="backToHeroes()">
        <mat-icon>home</mat-icon>
        Regresar
      </button>
      <span class="spacer"></span>
      <button mat-raised-button color="accent" (click)="save()">
        <mat-icon>{{ hero.id ? 'edit' : 'save' }}</mat-icon>
        {{ hero.id ? 'Actualizar' : 'Crear' }}
      </button>
      <button
        *ngIf="isEditing"
        mat-raised-button
        color="warn"
        (click)="delete()"
      >
        <mat-icon>delete</mat-icon>
        Eliminar
      </button>
    </div>
  </div>

  <div fxFlex="50">
    <img alt [src]="hero | image" />
  </div>
</div>
