<div fxLayout="column">
  <div>
    <h1>Buscador de héroes</h1>
    <mat-divider></mat-divider>
  </div>

  <div fxLayout="column">
    <h3>Buscador</h3>
    <mat-form-field>
      <input
        type="text"
        placeholder="Elige uno"
        aria-label="Number"
        [(ngModel)]="query"
        matInput
        [matAutocomplete]="auto"
        (input)="search()"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="selectOption($event)"
      >
        <mat-option *ngFor="let hero of heroes" [value]="hero">
          {{ hero.superhero }}
        </mat-option>
        <mat-option *ngIf="!heroes.length && query.trim()" value="">
          No se encontraron coincidencias con el término {{ query }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div>
    <pre>
      {{ selectedHero | json }}
    </pre>
  </div>
</div>
