<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login">Ir a Login</a>
  </li>
  <li>
    <a routerLink="/auth/register">Ir a Register</a>
  </li>
  <li>
    <a routerLink="/heroes/list">Ir a List</a>
  </li>
  <li>
    <a routerLink="/heroes/add">Ir a Add</a>
  </li>
  <li>
    <a routerLink="/heroes/edit/1">Ir a Edit</a>
  </li>
  <li>
    <a routerLink="/heroes/search">Ir a Search</a>
  </li>
</ul>
